<%- include("./nestedHeader.ejs") %>
<!-- End of header -->

<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-wrapper-before"></div>
      <div class="content-header row">
      </div>
      <div class="content-body">

<center>
<section id="content-types">
    <div class="col-xl-6 col-md-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <h1>Appointment Info</h1>
                    <h3>(Can only change instructor.)</h3>
                </div>
                <div class="card-body">
                    <form action="/admin/editAppointments/<%= appointment.id%>" method="POST">
                        <div class="form-body">
                            
                            <div class="form-group">
                                <label for="donationinput1" class="sr-only">Appointment ID</label>
                                <div class="fm-ele">
                                    <h6>Appointment ID</h6>
                                    <input type="text" disabled class="form-control inpt-info" value="<%= appointment.id %>" id="id" name="id" >
                                </div>
                            </div>
                            <hr>

                            
                            <div class="form-group">
                                <label for="donationinput1" class="sr-only">Meeting Link</label>
                                <div class="fm-ele">
                                    <h6>Meeting Link</h6>
                                    <input type="text"  required spellcheck="false" class="form-control inpt-info" value="<%= appointment.meeting_link %>" id="meeting" name="meeting" >
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="donationinput1" class="sr-only">User name</label>
                                <div class="fm-ele">
                                    <h6>User name</h6>
                                    <input type="text" disabled class="form-control inpt-info" value="<%= appointment.user_id.first_name%> <%= appointment.user_id.last_name%>" id="name" name="name" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="donationinput1" class="sr-only">User Email</label>
                                <div class="fm-ele">
                                    <h6>User email</h6>
                                    <input type="text" disabled class="form-control inpt-info" value="<%= appointment.user_id.email%>" id="name" name="name" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="donationinput1" class="sr-only">User Phone</label>
                                <div class="fm-ele">
                                    <h6>User phone</h6>
                                    <input type="text" disabled class="form-control inpt-info" value="<%= appointment.user_id.phone_no%>" id="name" name="name" >
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="form-group">
                            <label for="donationinput1" class="sr-only">Instructors</label>
                            <div class="fm-ele">
                                <h6>Instructors</h6>
                                <select required id="select_instructors" name="instructor_id" class="form-control inpt-info">
                                <%for(let i=0;i<instructors.length;i++){%>
                                    <option class="form-control inpt-info" value="<%= instructors[i]._id %>"><%= instructors[i].first_name %> <%= instructors[i].last_name %></option>
                                <%}%>
                                </select>
                                </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="donationinput1" class="sr-only">Reiki name</label>
                            <div class="fm-ele">
                                <h6>Reiki name</h6>
                                <input type="text" disabled class="form-control inpt-info" value="<%= appointment.reiki_id.name%>" id="name" name="name" >
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="donationinput1" class="sr-only">Price</label>
                            <div class="fm-ele">
                                <h6>Price</h6>
                                <input type="text" disabled class="form-control inpt-info" value="₹<%= appointment.price %> " id="name" name="name" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="donationinput1" class="sr-only">Appointment Starting Date</label>
                            <div class="fm-ele">
                                <h6>Appointment Starting Date</h6>
                                <input type="date"  class="form-control inpt-info" value="<%= appointment.time_slot?.start_time?.toISOString().slice(0, 10)%>" id="date" name="date" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="donationinput1" class="sr-only">Appoitnment Starting Time</label>
                            <div class="fm-ele">
                                <h6>Appointment Starting Time</h6>
                                <%if((""+appointment.time_slot?.start_time?.getMinutes()).length == 1) {%>
                                    <input type="time"  class="form-control inpt-info" value="<%= appointment.time_slot?.start_time?.getHours() + ":0" + appointment.time_slot?.start_time?.getMinutes()%>" id="time" name="time" >
                                <%}else{%>
                                    <input type="time"  class="form-control inpt-info" value="<%= appointment.time_slot?.start_time?.getHours() + ":" + appointment.time_slot?.start_time?.getMinutes()%>" id="time" name="time" >
                                <%}%>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions center">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div><br><br><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</center>
</div>
</div>
</div>


<!-- start of footer -->
<%- include("./nestedFooter.ejs") %>