

<%- include('./header.ejs'); %>


<!-- Statistics -->
<div class="row match-height">
  
  <div class="col-12">
      <div class="card">
          <div class="card-header">
              <h4 class="card-title">Users</h4>
              <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
          </div>
          <div class="card-content collapse show">
              <div class="card-body">
                 <div class="table-responsive">
                      <table class="table">
                          <thead>
                              <tr>
                                  <th class="card-title">Sr no.</th>
                                  <th class="card-title">First name</th>
                                  <th class="card-title">Last name</th>
                                  <th class="card-title">Email</th>
                                  <th class="card-title">Phone</th>
                                  <th class="card-title">Actions</th>
                              </tr>
                          </thead>
                          <tbody>
                              <!-- loop -->
                              <% for(let i=0;i<users.length;i++){%>
                                <tr>
                                  <th class="card-subtitle" scope="row">1</th>
                                  <td class="card-subtitle"><%= users[i].first_name%></td>
                                  <td class="card-subtitle"><%= users[i].last_name%></td>
                                  <td class="card-subtitle"><%= users[i].email%></td>
                                  <td class="card-subtitle"><%= users[i].phone_no%></td>
                                  <td>
                                      <a href="/admin/users/<%= users[i].id%>"><button type="button" class="btn mr-1 mb-1 btn-dark btn-sm"><i class="la la-edit"></i></button></a>
                                  </td>
                                </tr>
                              <%}%>
                              <!-- loop -->
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!--/ Statistics -->
      </div>
    </div>
  </div>
  <!-- ////////////////////////////////////////////////////////////////////////////-->

<%- include('./footer.ejs'); %>